#container {
  width: 50vw;
  margin: 0 auto;
  background-color: #fafafa;
  text-align: center;
  height: 100%;
  border-radius: 25px;
}

/* H1 TITLE */
#h1-title {
  border-radius: 25px;
  padding-top: 30px;
  text-indent: 10px;
  padding-left: 10px;
}

#h1-title-logo {
  max-width: 30px;
  max-height: 30px;
}

.gsc-modal-background-image.gsc-modal-background-image-visible {
  display: none;
}

/* Search bar container */
.gsc-control-cse.gsc-control-cse-es {
  position: relative;
  z-index: 1;
}

/* Search bar input */
#gsc-iw-id1 {
  border-radius: 25px;
  padding: 10px;
}

/* Search bar button */
.gsc-search-button.gsc-search-button-v2 {
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Result container */
.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
  width: 45vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 80%;
  border-radius: 25px;
}

.gsc-control-cse.gsc-control-cse-es {
  background-color: #fafafa;
}

/* Result card container */
.gsc-webResult.gsc-result {
  background-color: #ffffff;
  border-radius: 25px;
  margin: 10px;
}

.gsc-expansionArea .gsc-webResult.gsc-result {
  margin-bottom: 10px;
}

/* RESULT BUTTON CLOSE */
.gsc-results-close-btn.gsc-results-close-btn-visible {
  display: none;
}

/* PAGINATION */
.gsc-cursor-box.gs-bidi-start-align {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
}

#btn-prev {
  border: none;
  box-shadow: none;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

#btn-next {
  border: none;
  box-shadow: none;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

.gcsc-more-maybe-branding-root {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  width: 80%;
}

.gcsc-find-more-on-google-branding {
  remove: both;
}

/* MODAL */
#modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49vw;
  height: 100%;
  background-color: #000000;
  padding: 10px;
  z-index: 1000;
  border-radius: 25px;
}

#modal-content {
  /* padding: 20px;
  margin: 0 auto; */

  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#img-modal {
  /* margin: 0 auto;
  margin-top: 0 auto; */

  margin: 0 auto;
}

#p-modal-title {
  color: #fff;
}

#modal-buttons {
  position: fixed;
  bottom: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#btn-modal-redirect {
  float: left;
  background-color: #2a8cff;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}

#close-modal {
  float: right;

  background-color: #ccc;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
